<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
		<webRequestModules>
			<remove prefix="http" />
			<remove prefix="http:" />
			<remove prefix="https" />
			<remove prefix="https:" />
			<add prefix="http" type="HansKindberg.Net.HttpWebRequestFactory, HansKindberg" />
		</webRequestModules>
	</system.net>
</configuration>